ZEEBE_GRPC_ADDRESS=grpcs://<cluster_id>.<region>.zeebe.camunda.io:443
ZEEBE_REST_ADDRESS=https://<region>.zeebe.camunda.io/<cluster_id>
ZEEBE_CLIENT_ID=<your-client-id>
ZEEBE_CLIENT_SECRET=<your-client-secret>
CAMUNDA_OAUTH_URL=https://login.cloud.camunda.io/oauth/token
CAMUNDA_AUTH_STRATEGY=OAUTH